* {
	font-family: Roboto, Georgia, "Times New Roman", Times, serif;
	font-size: xx-large;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	background-color: #1f2937;
	cursor: none;
}

.header {
	padding-top: 16px;
	color: #f9faf8;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1,
h2 {
	margin: 0;
}

.footer {
	flex: 1;
	max-height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f9faf8;
	font-size: 18px;
	padding-bottom: 15px;
}

.container {
	flex: 1 1;
	display: flex;
	padding: 20px;
	min-width: 300px;
	width: 500px;
	max-width: 500px;
	min-height: 300px;
	height: 500px;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.custom-cursor {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid #f9faf8;
	border-radius: 50%;
	pointer-events: none;
	cursor: pointer;
}

/* Text field container */
.text-field-container {
	background: linear-gradient(to bottom, transparent 20%, #f9faf8 100%);
	width: 100%;	
	border-radius: 20px;
	padding: 1px;
}

.text-field {
	display: flex;
	background: #1f2937;
	border-radius: 20px;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
}

.text-field-container:hover {
	animation: text-hover-animation cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
	animation-fill-mode: both;
}

@keyframes text-hover-animation {
	from {
		box-shadow: 0 0 0em rgb(0 0 0 / 0);
		scale: 1;
	}
	to {
		scale: 1.05;
		box-shadow: 0 0 0.5em #f9faf844 ;
	}
}

.input.text {
	align-self: flex-start;
	background-color: transparent;
	color: #f9faf8;
	padding: 10px 20px;
	border-radius: 15px;
	width: 90%;
	max-width: 100%;
	height: 1em;
	max-height: 8em;
	resize: none;
	margin-right: auto;
	word-wrap: break-all;
	overflow-x: hidden;
	overflow-y: hidden;
	border: none;
	outline: none;
	cursor: none;
}

.output.text {
	align-self: flex-end;
	background-color: transparent;
	color: #f9faf8;
	font-size: medium;
	max-width: 100%;
	padding: 10px 20px;
	margin-left: auto;
}

/* button container */

.button-container {
	display: flex;
	gap: 20px;
	width: 100%;
	flex-wrap: wrap;
	user-select: none;
}

.button-container button {
	color: #f9faf8;
	background-color: transparent;
	border: none;
	border-radius: 20px;
	flex: auto;
	padding: 0;
	margin: 0;
	font-size: 1.2em;
	transition: font-size 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	cursor: none;
}

.button-container button:hover {
	animation: hover-animation cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
	animation-fill-mode: both;
}

@keyframes hover-animation {
	from {
		text-shadow: 0 0 0em rgb(0 0 0 / 0.3);
	}
	to {
		text-shadow: 0 0 1em rgb(249 250 248 / 0.6);
	}
}

.button-container button:active {
	animation: click-animation 0.1s;
	animation-fill-mode: forwards;
}

@keyframes click-animation {
	from {
		scale: 1;
	}
	to {
		scale: 0.7;
	}
}

/* numbers container */

.number-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-width: 300px;
}

.number-container button {
	flex: 1 1;
	flex-basis: 31%;
	min-width: 30px;
	max-width: 100%;
	height: 90px;
}

/* side container */

.side-container {
	flex: 1 1;
	display: flex;
	flex-flow: column wrap;
	gap: 10px;
}

/* operator container */

.operator-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.operator-container button {
	flex-basis: 46%;
	min-width: 30px;
	max-width: 100%;
	height: 80px;
}
