* {
	font-family: Roboto, Georgia, "Times New Roman", Times, serif;
	font-size: xx-large;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	background-color: #1f2937;
	cursor: none;
}

.header {
	padding-top: 16px;
	color: #f9faf8;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1,
h2 {
	margin: 0;
}

.footer {
	flex: 1;
	max-height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f9faf8;
	font-size: 18px;
	padding-bottom: 15px;
}

.container {
	flex: 0 1;
	display: flex;
	min-width: 300px;
	width: 400px;
	max-width: 400px;
	min-height: 300px;
	height: 370px;
	max-height: 370px;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.custom-cursor {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid #f9faf8;
	border-radius: 50%;
	pointer-events: none;
	cursor: pointer;
}

/* Text field */

.input.text {
	flex-shrink: 0;
	box-sizing: border-box;
	background-color: transparent;
	color: #f9faf8;
	padding: 10px 20px;
	border-radius: 15px;
	border: #f9faf8 solid 1px;
	width: 100%;
	height: 1.3em;
	resize: none;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* button container */

.button-container {
	flex-grow: 0;
	flex-shrink: 1;
	display: flex;
	gap: 20px;
	width: 100%;
	max-height: 80%;
	user-select: none;
}

.button-container button {
	color: #f9faf8;
	background-color: transparent;
	border: none;
	border-radius: 20px;
	font-size: 1em;
	height: 1.3em;
	transition: font-size 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	cursor: none;
}

.button-container button:hover {
	animation: hover-animation cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
	animation-fill-mode: both;
}

@keyframes hover-animation {
	from {
		text-shadow: 0 0 0em rgb(0 0 0 / 0.3);
	}
	to {
		text-shadow: 0 0 1em rgb(249 250 248 / 0.6);
	}
}

.button-container button:active {
	animation: click-animation 0.1s;
	animation-fill-mode: forwards;
}

@keyframes click-animation {
	from {
		scale: 1.15;
	}
	to {
		scale: 0.8;
	}
}

/* numbers container */

.number-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-width: 50%;
	padding: 10px;
	border-radius: 20px;
	border: #f9faf8 solid 1px;
}

.number-container button {
	flex-basis: 30%;
}

/* side container */

.side-container {
	max-height: 300px;
	flex: initial;
	width: 50%;
	display: flex;
	flex-flow: column;
	gap: 10px;
}

.side-container .delete-container {
	display: flex;
	border-radius: 20px;
	border: #f9faf8 solid 1px;
}

.side-container .delete-container > * {
	flex: 1 1;
}

.side-container #clear-button {
	flex-shrink: 1;
	transition: flex-grow 0.5s ease;
	color: rgb(253, 138, 138);
}

.side-container .equals-container {
	display: flex;
	border-radius: 20px;
	border: #f9faf8 solid 1px;
}

.side-container .equals-container > * {
	flex: 1 1;
}

.side-container #equals-button {
	color: rgb(192, 253, 131);
}

/* operator container */

.operator-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height:200px;
	border-radius: 20px;
	border: #f9faf8 solid 1px;
}

.operator-container button {
	flex-basis: 46%;
	min-width: 30px;
	max-width: 100%;
	height: 70px;
	color: aquamarine;
}
